wp-config.php
**/db_data/
.DS_Store
.git/
wp-config/
**/php/src/**

**/node/app/**
.env
*.sql

/bk
*:Zone.Identifier
*.zip
package-lock.json
l-s-l.jp.code-workspace
WordPress.2021-02-19.xml

