wp-config.php
**/db_data/
.DS_Store
.git/
wp-config/
**/php/src/**
**/node/app/**
!**/php/src/**.sql
!**/php/src/**.dump.sql
!**/php/src/cms_uploads
!**/php/src/readme.md
.env
*.sql

/bk
*:Zone.Identifier
*.zip
package-lock.json
*.vscode
